---
common-css:
#  - "/css/bootstrap.min.css"
#  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
#  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
  - "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css"
  - "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
#  - "/js/jquery-1.11.2.min.js"
#  - "/js/bootstrap.min.js"
  - "/js/main.js"
common-ext-js:
  - "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js"
---

<!DOCTYPE html>
<html lang="en">
  <!-- Beautiful Jekyll | MIT license | Copyright Dean Attali 2016 -->
  {% include head.html %}

  <body>

    {% include gtm_body.html %}
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
